<app-card variant="secondary" class="form-busca">
    <form>
        <div class="flex-container">
            <mat-button-toggle-group aria-label="Tipo de Passagem">

                <mat-button-toggle>
                    <mat-icon>check</mat-icon>
                    Ida e Volta
                </mat-button-toggle>
                <mat-button-toggle>Somente Ida</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-chip-listbox aria-label="Seleção de Passagens">
                <mat-chip-option selected>1 adulto</mat-chip-option>
                <mat-chip-option>Econômico</mat-chip-option>
            </mat-chip-listbox>
        </div>
        <div class="flex-container">
            <mat-form-field appearance="outline" class="input-container">
                <mat-label>Origem</mat-label>
                <mat-icon matPrefix>flight_takeoff</mat-icon>
                <input matInput placeholder="Origem">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <button mat-icon-button>
                <mat-icon>sync_alt</mat-icon>
            </button>
            <mat-form-field appearance="outline" class="input-container">
                <mat-label>Destino</mat-label>
                <mat-icon matPrefix>flight_land</mat-icon>
                <input matInput placeholder="Destino">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-container">
                <mat-label>Data de Ida</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Selecione">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-container">
                <mat-label>Data de Volta</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Selecione">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button mat-flat-button color="primary">BUSCAR</button>
        </div>
        
    </form>
</app-card>