<footer class="app-footer">
    <app-container>
        <div class="inner">
            <ul>
                <li><img src="../../../assets/imagens/logo-com-tagline.png" alt=""></li>
                <li><p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p></li>
                <li><p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p></li>
            </ul>
            <ul class="socials">
            <li>Acesse nossas redes:</li>
            <li>
                <button mat-icon-button><img src="../../../assets/icones/whatsapp.png" alt=""></button>
                <button mat-icon-button><img src="../../../assets/icones/twitter.png" alt=""></button>
                <button mat-icon-button><img src="../../../assets/icones/instagram.png" alt=""></button>
            </li>
            </ul>
        </div>
    </app-container>
</footer>